<br /><br />
<h1>Your Favorite Sport Players!</h1></div>
<br /><br /><br /><br />
<div class="boom-box col-10 offset-1">
  <%= simple_form_for @player do |f| %>
  <%= f.input :position %>
  <%= f.input :name %>
  <%= f.input :team %>
  <%= f.button :submit %>
<% end %>
  </div>
